/*adjust*/

.grid-center{
    text-align: center !important;
}

.padding-5{
    padding-top: 5rem !important;
    padding-bottom: 10rem !important;
}

.img-center{
    margin: 0 auto !important;
}

/*end adjust*/