/*background colors*/
.white{
    background-color: var(--white);
}

.grey{
    background-color: var(--grey);
}

.yellow{
    background-color: var(--gold);
}

.light-grey{
    background-color: var(--lightGrey);
}

.light-black{
    background-color: var(--lightBlack);
}
/*background colors*/