/*background colors*/

.white{
    background-color: $white;
}

.grey{
    background-color: $grey;
}

.yellow{
    background-color: $gold;
}

.light-grey{
    background-color: $lightGrey;
}

.light-black{
    background-color: $lightBlack;
}

/*background colors*/