/* cards */

.art{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 6rem;
}

.card-container{
  width: 34rem;
  height: 40rem;
  margin: 5rem;
   
  
  .card{
    width: 30rem;
    height: 45rem;
    background: $white;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
    transition: 0.5s;

    h2{
      color: $white;
      font-size: 2.5rem;
      padding-top: 6rem;
      text-align: center;
    }
  
    .content{
      position: relative;
      padding-bottom: 5rem;
      text-align: center;
    }

    h3{
      justify-content: center;
  
    }

    p{
      font-size: 1.5rem;
      color: $black;
    }

    .card--type{
      padding: 6rem auto;
    }

    .card--desc{
      margin-bottom: 8rem;
    }
  }

  .circle{
    width: 100%;
    height: 100%;
    background: $black;
    clip-path: circle(18rem at center 0);
    text-align: center;
  }
}

/* queries */
@media (max-width: 991.98px){
  .card-container{
    width: 30rem;
    height: 36rem;
    margin: 8rem;
  }
}

/* cards */