/*footer*/
footer {
    p{
        color: $black;
        text-align: center;
        font-size: 1.5rem;
        font-family: $poppins;
        font-weight: 300;
        padding: 2rem;
    }

    .dev{
        font-size: 4rem;
        text-align: right;
    }

    .am{
        animation: color-change 3s infinite;
        font-size: 1rem;
        font-family: $start;
        text-decoration: none;
    }
}

@keyframes color-change{
    0% {color: #2825D7;}
    25% {color: #260F76;}
    50% {color: #3B1D2A;}
    75% {color: #712130;}
    100% {color:  #BE1525;}
}
/*end footer*/