/*index*/

.main__h1--font{
    font-family: $bebas;
    text-align: center;
    font-weight: 300;
    font-size: 6rem;
    color: $white;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.main__slogan{
    color: $white;
    text-align: center;
    font-size: 2.5rem;
    font-family: $montserrat;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.desc{
    font-size: 3rem;
    font-weight: 600;
    font-family: $montserrat;
    text-align: center;
}

.desc-contact{
    font-size: 2rem;
    font-weight: 600;
    font-family: $montserrat;
    text-align: center;
}

.index__article-desc{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    flex-wrap: wrap;
    padding-top: 13rem;
    padding-left: 5rem;    
}

.index__article--flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fb-page{
    width: 36rem !important;
}

/*queries*/

/*tablet*/
//portrait
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .main__h1--font{
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .desc{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: $montserrat;
        text-align: center;
    }
    .index__article-desc{
        padding-top: 1rem;
        padding-left: 3rem;
    
    }
}

//landscape
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    .main__h1--font{
        font-size: 5rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .main__slogan{
        font-size: 1.5rem;
    }
    .index__article-desc{
        padding-top: 1rem;
        text-align: center;
    
    }
    .desc{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: $montserrat;
        text-align: center;
    }
}
/*end tablet*/

/*mobile*/
//portrait
@media (max-width: 575.98px) and (orientation:portrait){
    .main__h1--font{
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main__slogan{
        font-size: 1.5rem;
    }
    .index__article-desc{
        font-size: 2rem;
        padding-top: 1rem;
        text-align: center;
    
    }
    .desc{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: $montserrat;
        text-align: center;
    }
}

//landscape
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape){
    .main__h1--font{
        font-size: 5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main__slogan{
        font-size: 1.5rem;
    }

    .index__article-desc{
        font-size: 2rem;
        padding-top: 1rem;
        text-align: center;
    
    }
    .desc{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: $montserrat;
        text-align: center;
    }
} 
/*end mobile*/

/*end index*/