/*index*/
.main__h1--font{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-weight: 300;
    font-size: 7rem;
    color: $white;
}

.main__h1--border{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-top: 0.4rem solid $white;
    border-bottom: 0.4rem solid $white;
}

.main__slogan{
    color: $white;
    text-align: center;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    font-weight: 800;
}

.desc{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*end index*/