/*nav bar*/

.nav-item {
    a{
        font-family: $poppins;
        font-size: 1.5rem;
        color: $white !important;
        font-weight: 600 !important;
        margin-left: 2rem;
        text-decoration: none;
    }
    a:hover{
        color: $yellow !important;
        background-color: transparent !important;
        transform: scale(1.1, 1);
        transition: all 0.5s;
    }
    i{
        margin-top: 0.8rem;
        margin-right: 2rem;
        font-size: 2rem;
    
    }
}

.navbar-collapse{
    text-align: center !important;
}

.facebook:hover{
    color: #3b5998 !important;
    transform: scale(1.5, 1.5);
    transition: all 0.5s;
}

.instagram:hover{
    color: #C13584 !important;
    transform: scale(1.5, 1.5);
    transition: all 0.5s;
}

//queries
@media (max-width: 991.98px){
    .navbar-collapse{
        text-align: center !important;
    }
    i{
        position: relative;
        margin: 0 auto;
        padding-right: 0.1rem;
        padding-left: 2rem;
        
    }
}

/*end nav bar*/