/*tags*/
body{
    background: linear-gradient(180deg, rgba(220,220,224,1) 0%, rgba(238,237,241,1) 90%, rgba(221,225,226,1) 100%, rgba(4,4,60,1) 100%);
}

p{
    color: var(--black);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: var(--black);
}
/*end tags*/