@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
/*reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*end reset*/
/*vars*/
/*end vars*/
/*adjust*/
.grid-center {
  text-align: center !important; }

.padding-5 {
  padding-top: 5rem !important;
  padding-bottom: 10rem !important; }

.img-center {
  margin: 0 auto !important; }

/*end adjust*/
/*background colors*/
.white {
  background-color: #F0F1FC; }

.grey {
  background-color: #403E3E; }

.yellow {
  background-color: #aa8024; }

.light-grey {
  background-color: #ADAAaa; }

.light-black {
  background-color: #2b2929; }

/*background colors*/
/*images*/
.logo {
  width: 11rem;
  height: 11rem;
  margin-left: 5rem; }

/*end images*/
/*tags*/
p {
  color: #0C0B0B;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 2rem; }

a {
  text-decoration: none;
  color: #0C0B0B; }

/*end tags*/
/*index*/
.main__h1--font {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-weight: 300;
  font-size: 7rem;
  color: #F0F1FC; }

.main__h1--border {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top: 0.4rem solid #F0F1FC;
  border-bottom: 0.4rem solid #F0F1FC; }

.main__slogan {
  color: #F0F1FC;
  text-align: center;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  font-weight: 800; }

.desc {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif; }

/*end index*/
/*nav bar*/
.nav-item a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #F0F1FC !important;
  font-weight: 600 !important;
  margin-left: 2rem;
  text-decoration: none; }

.nav-item a:hover {
  color: #EFDD13 !important;
  background-color: transparent !important;
  transform: scale(1.1, 1);
  transition: all 0.5s; }

.nav-item i {
  margin-top: 0.8rem;
  margin-right: 2rem;
  font-size: 2rem; }

.navbar-collapse {
  text-align: center !important; }

.facebook:hover {
  color: #3b5998 !important;
  transform: scale(1.5, 1.5);
  transition: all 0.5s; }

.instagram:hover {
  color: #C13584 !important;
  transform: scale(1.5, 1.5);
  transition: all 0.5s; }

/*end nav bar*/
/*form*/
.contact {
  font-size: 1.5rem; }

.section__form-group {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center; }

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center; }

input,
select,
textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 1rem 0;
  width: 80%;
  margin: 2rem;
  transition: all 0.5s;
  background-color: transparent; }

input[type="text"],
input[type="email"] {
  font-size: 2rem;
  color: #0C0B0B;
  font-family: 'Bebas Neue', cursive; }

textarea,
::placeholder {
  font-size: 2rem !important;
  color: #0C0B0B;
  font-family: 'Bebas Neue', cursive !important; }

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
  border-bottom: 0.2rem solid #0C0B0B;
  transition: 0.1s; }

input[type="submit"] {
  margin-top: 2rem;
  font-size: 2rem;
  color: #0C0B0B;
  border: 0.2rem solid #0C0B0B;
  border-radius: 0.5rem; }

input[type="submit"]:hover {
  color: #F0F1FC;
  font-weight: 500;
  background-color: #0C0B0B;
  transition: 0.5s; }

/*end form*/
/*footer*/
footer p {
  font-size: 1.5rem;
  font-weight: 500; }

.dev {
  font-size: 4rem;
  text-align: right; }

.am {
  animation: color-change 3s infinite;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; }

@keyframes color-change {
  0% {
    color: #2825D7; }
  25% {
    color: #260F76; }
  50% {
    color: #3B1D2A; }
  75% {
    color: #712130; }
  100% {
    color: #BE1525; } }

/*end footer*/
/*maps*/
.section__mapouter--position {
  position: relative;
  text-align: right;
  height: 420px;
  width: 100%; }

.section__gmap-canvas--map {
  overflow: hidden;
  background: none !important;
  height: 420px;
  width: 100%; }

/*end maps*/
/*cards*/
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15rem;
  padding-bottom: 15rem; }

.card-container {
  width: 20rem;
  height: 30rem;
  margin: 5rem; }

.card-container:hover .card {
  transform: rotateY(180deg); }

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  background-color: #aa8024 !important; }
  .card .front {
    background: #403E3E;
    color: #F0F1FC; }
  .card .back {
    background: linear-gradient(180deg, #72b711 0%, #55880c 82%);
    transform: rotateY(180deg);
    margin-bottom: 2rem;
    color: #F0F1FC; }
    .card .back h3 {
      margin-bottom: 3rem; }

/*end cards*/
/*timeline*/
.timeline {
  color: #F0F1FC; }
  .timeline h1,
  .timeline ul li .content h2 {
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5); }
  .timeline ul {
    background: #aa8024;
    padding: 5rem 0; }
    .timeline ul li {
      background: #403E3E;
      position: relative;
      margin: 0 auto;
      width: 0.5rem;
      padding-bottom: 5rem;
      list-style-type: none; }
      .timeline ul li:before {
        content: '';
        background: #ADAAaa;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 2rem;
        height: 2rem;
        border: 0.5rem solid #403E3E;
        border-radius: 50%; }
      .timeline ul li .hidden {
        opacity: 0; }
      .timeline ul li .content {
        background: #403E3E;
        position: relative;
        top: 0.7rem;
        width: 45rem;
        padding: 2rem; }
        .timeline ul li .content h2 {
          color: #F0F1FC;
          padding-bottom: 2rem;
          text-align: center; }
        .timeline ul li .content p {
          text-align: center;
          color: #F0F1FC; }
        .timeline ul li .content:before {
          content: '';
          background: #403E3E;
          position: absolute;
          top: 0;
          width: 3.8rem;
          height: 0.5rem; }
      .timeline ul li:nth-child(odd) .content {
        left: 5rem;
        background: #403E3E; }
      .timeline ul li:nth-child(odd) .content:before {
        left: -3.8rem; }
      .timeline ul li:nth-child(even) .content {
        left: calc(-45rem - 4.5rem);
        background: #403E3E; }
      .timeline ul li:nth-child(even) .content:before {
        right: -3.8rem; }

/* queries */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw; }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 4.5rem); } }

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 2rem; }
    .timeline ul li .content {
      width: calc(100vw - 100px); }
      .timeline ul li .content h2 {
        text-align: initial; }
    .timeline ul li:nth-child(even) .content {
      left: 4.5rem;
      background: #403E3E; }
    .timeline ul li:nth-child(even) .content:before {
      left: -3.3rem; } }

/*timeline*/
