@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
/*reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: none !important;
  background-color: none !important; }

/*end reset*/
/*vars*/
/*end vars*/
/*adjust*/
.grid-center {
  text-align: center !important; }

.padding-5 {
  padding-top: 5rem !important;
  padding-bottom: 10rem !important; }

/*end adjust*/
/*background colors*/
.white {
  background-color: #F0F1FC; }

.grey {
  background-color: #403E3E; }

.yellow {
  background-color: #aa8024; }

.light-grey {
  background-color: #ADAAaa; }

.light-black {
  background-color: #2b2929; }

/*background colors*/
/*background images*/
.main__tittle__background--index {
  background: url(../img/backIndex.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

.main__tittle__background--cervezas {
  background: url(../img/cerveza.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

.main__tittle__background--bubble {
  background: url(../img/bubble.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

.main__tittle__background--contacto {
  background: url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

.main__tittle__background--encontranos {
  background: url(../img/dondeEncontrarnos.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

.main__tittle__background--nosotros {
  background: url(../img/sobreNosotros.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

.main__tittle__background--tienda {
  background: url(../img/tienda.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; }

/*end background images*/
/*images*/
.logo {
  width: 11rem;
  height: 11rem;
  margin-left: 5rem; }

.img-center {
  margin: 0 auto !important; }

.index__img-position {
  max-width: 100%; }

/*end images*/
/*index*/
.main__h1--font {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-weight: 300;
  font-size: 6rem;
  color: #F0F1FC;
  margin-top: 8rem;
  margin-bottom: 8rem; }

.main__slogan {
  color: #F0F1FC;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 800; }

.desc {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center; }

.index__article-desc {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-left: 5rem; }
  .index__article-desc p {
    margin-top: 15rem; }

.index__article--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.fb-page {
  width: 36rem !important; }

/*queries*/
/*tablet*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .main__h1--font {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .desc {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center; } }

@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .main__h1--font {
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .main__slogan {
    font-size: 1.5rem; } }

/*end tablet*/
/*mobile*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .main__h1--font {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .main__slogan {
    font-size: 1.5rem; } }

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .main__h1--font {
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .main__slogan {
    font-size: 1.5rem; } }

/*end mobile*/
/*end index*/
/*nav bar*/
.nav-item a {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #F0F1FC !important;
  font-weight: 600 !important;
  margin-left: 2rem;
  text-decoration: none; }

.nav-item a:hover {
  color: #EFDD13 !important;
  background-color: transparent !important;
  transform: scale(1.1, 1);
  transition: all 0.5s; }

.nav-item i {
  margin-top: 0.8rem;
  margin-right: 2rem;
  font-size: 2rem; }

.navbar-collapse {
  text-align: center !important; }

.facebook:hover {
  color: #3b5998 !important;
  transform: scale(1.5, 1.5);
  transition: all 0.5s; }

.instagram:hover {
  color: #C13584 !important;
  transform: scale(1.5, 1.5);
  transition: all 0.5s; }

@media (max-width: 991.98px) {
  .navbar-collapse {
    text-align: center !important; }
  i {
    position: relative;
    margin: 0 auto;
    padding-right: 0.1rem;
    padding-left: 2rem; } }

/*end nav bar*/
/*form*/
.section__form-group {
  display: flex;
  width: 100vw;
  height: 50%;
  justify-content: center;
  align-items: center; }

input,
select,
textarea {
  border: none;
  outline: none;
  width: 30vw;
  margin: 2rem 0;
  padding: 2rem 0;
  transition: all 0.5s;
  background-color: transparent; }

input[type="text"],
input[type="email"] {
  font-size: 2rem;
  color: #0C0B0B;
  font-family: "Bebas Neue", cursive; }

textarea,
::placeholder {
  font-size: 2rem !important;
  color: #0C0B0B;
  font-family: "Bebas Neue", cursive !important; }

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
  border-bottom: 0.2rem solid #0C0B0B;
  transition: 0.1s; }

input[type="submit"] {
  margin-top: 2rem;
  font-size: 2rem;
  color: #0C0B0B;
  border: 0.2rem solid #0C0B0B;
  border-radius: 0.5rem; }
  input[type="submit"] :hover {
    color: #F0F1FC;
    font-weight: 500;
    background-color: #0C0B0B;
    transition: 0.5s; }

@media (max-width: 991px) {
  input,
  select,
  textarea {
    width: 50vw; } }

/*end form*/
/*footer*/
footer p {
  color: #0C0B0B;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 2rem; }

footer .dev {
  font-size: 4rem;
  text-align: right; }

footer .am {
  animation: color-change 3s infinite;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  text-decoration: none; }

/* queries */
@keyframes color-change {
  0% {
    color: #2825D7; }
  25% {
    color: #260F76; }
  50% {
    color: #3B1D2A; }
  75% {
    color: #712130; }
  100% {
    color: #BE1525; } }

/*end footer*/
/*maps*/
.section__mapouter--position {
  position: relative;
  text-align: center;
  height: 420px;
  padding-left: 0.5rem; }

.section__gmap-canvas--map {
  overflow: hidden;
  background: none !important;
  height: 420px; }

iframe {
  width: 100%;
  height: 100%; }

/*end maps*/
/* cards */
.art {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 6rem; }

.card-container {
  width: 34rem;
  height: 40rem;
  margin: 5rem; }
  .card-container .card {
    width: 30rem;
    height: 45rem;
    background: #F0F1FC;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
    transition: 0.5s; }
    .card-container .card h2 {
      color: #F0F1FC;
      font-size: 2.5rem;
      padding-top: 6rem;
      text-align: center; }
    .card-container .card .content {
      position: relative;
      padding-bottom: 5rem;
      text-align: center; }
    .card-container .card h3 {
      justify-content: center; }
    .card-container .card p {
      font-size: 1.5rem;
      color: #0C0B0B; }
    .card-container .card .card--type {
      padding: 6rem auto; }
    .card-container .card .card--desc {
      margin-bottom: 8rem; }
  .card-container .circle {
    width: 100%;
    height: 100%;
    background: #0C0B0B;
    clip-path: circle(18rem at center 0);
    text-align: center; }

/* queries */
@media (max-width: 991.98px) {
  .card-container {
    width: 30rem;
    height: 36rem;
    margin: 8rem; } }

/* cards */
/*timeline*/
.timeline {
  color: #F0F1FC; }
  .timeline h1, .timeline ul li .content h2 {
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5); }
  .timeline ul {
    padding: 5rem 0; }
    .timeline ul li {
      background: #403E3E;
      position: relative;
      margin: 0 auto;
      width: 0.5rem;
      padding-bottom: 5rem;
      list-style-type: none; }
      .timeline ul li:before {
        content: '';
        background: #ADAAaa;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 2rem;
        height: 2rem;
        border: 0.5rem solid #403E3E;
        border-radius: 50%; }
      .timeline ul li .hidden {
        opacity: 0; }
      .timeline ul li .content {
        background: #403E3E;
        position: relative;
        top: 0.7rem;
        width: 45rem;
        padding: 2rem; }
        .timeline ul li .content h2 {
          color: #F0F1FC;
          padding-bottom: 2rem;
          text-align: center; }
        .timeline ul li .content p {
          text-align: center;
          color: #F0F1FC; }
        .timeline ul li .content:before {
          content: '';
          background: #403E3E;
          position: absolute;
          top: 0;
          width: 3.8rem;
          height: 0.5rem; }
      .timeline ul li:nth-child(odd) .content {
        left: 5rem;
        background: #403E3E; }
      .timeline ul li:nth-child(odd) .content:before {
        left: -3.8rem; }
      .timeline ul li:nth-child(even) .content {
        left: calc(-45rem - 4.5rem);
        background: #403E3E; }
      .timeline ul li:nth-child(even) .content:before {
        right: -3.8rem; }

/* queries */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw; }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 4.5rem); } }

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 2rem; }
    .timeline ul li .content {
      width: calc(100vw - 100px); }
      .timeline ul li .content h2 {
        text-align: initial; }
    .timeline ul li:nth-child(even) .content {
      left: 4.5rem;
      background: #403E3E; }
    .timeline ul li:nth-child(even) .content:before {
      left: -3.3rem; } }

/*end timeline*/
